@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewBag.Title = "Movie List";
}

@model IEnumerable<MoreyAssignment3.Models.EntryResponse>

<div class="p-4">
    <h2>Here are the current movies and all their information</h2>

    <table class="table table-bordered table striped">
        <thead>
            <tr>
                <th>Category</th>
                <th>Title</th>
                <th>Year</th>
                <th>Director</th>
                <th>Rating</th>
                <th>Edited?</th>
                <th>Lent To</th>
                <th>Notes</th>
            </tr>
        </thead>

        <tbody>
            @foreach (MoreyAssignment3.Models.EntryResponse x in Model)
            {
                @if (x.Title == "Independence Day")
                {
                    continue;
                }

            <tr>
                <td>@x.Category</td>
                <td>@x.Title</td>
                <td>@x.Year</td>
                <td>@x.Director</td>
                <td>@x.Rating</td>
                <td>@x.Edited</td>
                <td>@x.LentTo</td>
                <td>@x.Notes</td>
                <td>
                    <form asp-action="Edit" method="post">
                    <input type="hidden" name="movieId" value="@x.MovieId" />
                    <button type="submit" class="btn btn-warning btn-sm">Edit</button>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <input type="hidden" name="title" value="@x.Title" />
                        <button type="submit" class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </td>
            </tr>
            }
        </tbody>
    </table>
    <br />
    <br />
    <a asp-action="MovieForm">Add Movie</a> 

</div>

